/* @font-face {
  font-family: "Urbanist";
  src: url("./Urbanist-Medium.ttf") format("truetype");
}

html,
body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: black;
}

canvas {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

.canvasContainer {
  top: 0;
  height: 100vh;
  position: fixed;
  width: 50%;
  transition: all 0.5s ease;
}

.canvasContainer.fullscreen {
  width: 100%;
  left: 0;
}

.leftContainer {
  left: 0;
}

.leftContainer.fullscreen {
  left: 0;
  width: 100%
}

.leftContainer.minimized {
  left: -50%;
}

.rightContainer {
  left: 50%;
}

.rightContainer.minimized {
  left: 100%
}

#leftCanvas {
  background-color: black;
}

#rightCanvas {
  background-color: #111;
}

#slideDisplay {
  background-color: #000;
}

#attribution {
  font-size: 2em;
  font-family: 'Urbanist';
  position: absolute;
  bottom: 1em;
  opacity: 0.5;
  color: #fff;
  right: 1em;
  z-index: 999;
  transition: all 1s ease-in-out;
}

#attribution.hidden {
  opacity: 0;
}

.info-panel {
  display: inline-block;
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: rgba(0, 0, 0, 0.7);
  padding: 5px 10px;
  font-family: monospace;
  font-Size: 32px;
  border-radius: 5px;
  color: #e7eff380;
}

.od-container {
  text-align: center;
  display: inline-block;
}

.odometer {
  font-size: 32px;
  font-weight: bold;
} */